#Configuration info
[Project Info]
    Project = 20161

[OemCommonCapbility]
    ForceSensorFps = 1
    SatTeleDisable = 1
    ArcsoftEisEnable = 1
    SupportQuarterBinning  = 1
    MaxSensitivityBoost = 6399
    SupportDualScene = 1
    OemAddMaxFps = TRUE
    SkipFirstFrameInNVMode = TRUE
    SkipFirstFrameInMacroMode = TRUE
    isUsedArcSoftInAinight = FALSE
    isUsedMipiRaw = TRUE
    isEnableMedasPower = TRUE
    isNeedNCS = TRUE
    ForceFrontCommonModeSetting1 = TRUE
    HDR4SnapshotSupported = TRUE
    SupportThumbnailOptimization = TRUE
    IsEnableAsyncClose = TRUE

[AllSensorNum]
    SensorNum = 5;

[ColorSensor]
    IsColorSensorFrontSupported = false

[Flickersensor]
    IsFlickerSensorFrontSupported = false

[FilterSensorBins]
    filterBin_need = com.qti.sensormodule.sunny_imx766.bin
    filterBin_no_need = com.qti.sensormodule.sunny_imx766_dvt.bin

[PropertyPackageName]
    AppPackageNameTag = oplus.camera.packname

[OPPackageName Group]
    SystemCamera = com.oppo.camera; com.oplus.camera
    EngineerMode = com.oplus.engineercamera

###LogicalCameraConfiguration begin
[LogicalCameraConfiguration]
    NumOfLogicalCamera = 8
    LogicalCamera[0] = SingleWideCameraConfiguration
    LogicalCamera[1] = SingleFrontCameraConfiguration
    LogicalCamera[2] = SingleUltraWideCameraConfiguration
    LogicalCamera[3] = SingleTeleCameraConfiguration
    LogicalCamera[4] = SingleMono1CameraConfiguration
    LogicalCamera[5] = RTBUWWCameraConfiguration
    LogicalCamera[6] = RTBWTCameraConfiguration
    LogicalCamera[7] = SATCameraConfiguration

[SingleWideCameraConfiguration]
    logicalCameraId    = 0
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleWideCameraDeviceInfo
    primarySensorID    = 0
    cameraType         = 0

[SingleWideCameraDeviceInfo]
    sensorId               = 0
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[SingleFrontCameraConfiguration]
    logicalCameraId    = 1
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleFrontCameraDeviceInfo
    primarySensorID    = 2
    cameraType         = 1

[SingleFrontCameraDeviceInfo]
    sensorId               = 2
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[SingleUltraWideCameraConfiguration]
    logicalCameraId    = 2
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleUltraWideCameraDeviceInfo
    primarySensorID    = 1
    cameraType         = 2

[SingleUltraWideCameraDeviceInfo]
    sensorId               = 1
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[SingleTeleCameraConfiguration]
    logicalCameraId    = 3
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleTeleCameraDeviceInfo
    primarySensorID    = 3
    cameraType         = 6

[SingleTeleCameraDeviceInfo]
    sensorId               = 3
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[SmoothZoom]
    enableSmoothZoom              = true
    enforceOpenWideZoomValueRight = 5.1
    isDivideZoomRatio             = false

[DivideZoomRatio]
    pointZoomRatio              = 0.6;    1.0;    2.0;    5.0
    scaleThresholdRatioRange    = 0.5;    2.1;    2.1;    5.1;    5.1;    20.1
    pointScaleRatioThreshold    =     0.12;           0.15;           0.25
    commonScaleRatioThreshold   =     0.20;           0.20;           0.30
    pauseFrameNum               = 0

[SingleMono1CameraConfiguration]
    logicalCameraId    = 4
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleMono1CameraDeviceInfo
    primarySensorID    = 4
    cameraType         = 17

[SingleMono1CameraDeviceInfo]
    sensorId               = 4
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[RTBUWWCameraConfiguration]
    logicalCameraId    = 5
    logicalCameraType  = 1
    publicVisibility   = true
    numOfDevices       = 2
    deviceInfo[0]      = RTBUWCameraDeviceInfo
    deviceInfo[1]      = RTBWCameraDeviceInfo
    primarySensorID    = 0
    cameraType         = 8

[RTBUWCameraDeviceInfo]
    sensorId               = 1
    transitionZoomRatioMin = 1.0
    transitionZoomRatioMax = 2.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[RTBWCameraDeviceInfo]
    sensorId               = 0
    transitionZoomRatioMin = 2.0
    transitionZoomRatioMax = 8.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[RTBWTCameraConfiguration]
    logicalCameraId    = 6
    logicalCameraType  = 1
    publicVisibility   = true
    numOfDevices       = 2
    deviceInfo[0]      = RTBWCameraDeviceInfo
    deviceInfo[1]      = RTBTCameraDeviceInfo
    primarySensorID    = 3
    cameraType         = 11

[RTBTCameraDeviceInfo]
    sensorId               = 3
    transitionZoomRatioMin = 3.0
    transitionZoomRatioMax = 8.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[SATCameraConfiguration]
    logicalCameraId    = 7
    logicalCameraType  = 2
    publicVisibility   = true
    numOfDevices       = 3
    deviceInfo[0]      = SATUWCameraDeviceInfo
    deviceInfo[1]      = SATWCameraDeviceInfo
    deviceInfo[2]      = SATTCameraDeviceInfo
    primarySensorID    = 0
    cameraType         = 12


[SupportSkipFd]
    #VideoMode      captureMode         skip_count    bindcore   faceBeautyIgnore   useQcomFd  byPassFd
    Mode[0]      =     0x800B;              3;        0;         0;                 0;         0         #COMMON VIDEO + SAT
    Mode[1]      =     0x802C;              3;        0;         0;                 0;         0         #Dual VIDEO
    Mode[2]      =     0x8001;              2;        0;         0;                 0;         0         #COMMON MODE

[Disable3ADebug]
    CaptureModeList = 0x800B; 0x800C; 0x800D; 0x8021; 0x8028; 0x802B; 0x802C; 0x80A1; 0x80A2; 0x80A3; 0x80A4; 0x80A5; 0x80A7; 0x80A9; 0x80AA; 0x1


[SupportVideoRdiBufferReduce]
    #                captureMode LogicCameraId
    Mode[0]      =     0x800b;        7

[SupportReduce3ADebugMemory]
    #                captureMode LogicCameraId  slots
    Mode[0]      =     0x8001;        7;         16

[SATUWCameraDeviceInfo]
    sensorId               = 1
    transitionZoomRatioMin = 0.6
    transitionZoomRatioMax = 1.0
    enableSmoothTransition = true
    alwaysOn               = false
    realtimeEngine         = 0

[SATWCameraDeviceInfo]
    sensorId               = 0
    transitionZoomRatioMin = 1.0
    transitionZoomRatioMax = 2.0
    enableSmoothTransition = true
    alwaysOn               = false
    realtimeEngine         = 0

[SATTCameraDeviceInfo]
    sensorId               = 3
    transitionZoomRatioMin = 2.0
    transitionZoomRatioMax = 20.0
    enableSmoothTransition = true
    alwaysOn               = false
    realtimeEngine         = 0

###LogicalCameraConfiguration end

[MultiCameraUsecase]
                 #stream index map  w  uw
    LogicalCameraAPPStreamMap[5]  = 1; 0
                 #stream index map  t  w
    LogicalCameraAPPStreamMap[6]  = 1; 0
    LogicalCameraRAWStreamSwap[6] = true
                 #stream index map  w  uw  t
    LogicalCameraAPPStreamMap[7]  = 1; 0;  2

[MultiCameraMFNRFusionSuperGraph]
    #ChiFeature2Type     HDR  DEMUX  SERIALIZER TWOHDR THREEHDR FormatConvertor  Yuv2Yuv  Y2YPostMFSR  MFSR   RawHDR   RealTimeSerializer
    Operation[0x8001]   = 5;    23;    24;
    Operation[0x8019]   = 5;    23;    24;
    Operation[0x8026]   = 5;    23;    24;
    Common              = 5;    23;    24;

[MultiCameraMFNRBokehSuperGraph]
    #ChiFeature2Type     HDR  DEMUX  SERIALIZER TWOHDR THREEHDR FormatConvertor  Yuv2Yuv  Y2YPostMFSR  MFSR   RawHDR   RealTimeSerializer
    Operation[0x8011]   = 5;    23;    24;                                                              9;

[MultiCameraHDRGraph]
    #ChiFeature2Type     HDR  DEMUX  SERIALIZER TWOHDR THREEHDR FormatConvertor  Yuv2Yuv  Y2YPostMFSR  MFSR   RawHDR   RealTimeSerializer
    Operation[0x8011]   =       23;    24;

[VirtualSuperGraph]
    #ChiFeature2Type     HDR  Yuv2Yuv  DEMUX  RawHDR  Serializer RealTimeSerializer Y2YPostMFSR  MFSR AnchorSync FormatConvertor
    Camera[0]           = 5;    23;    24;
    Camera[1]           = 5;    23;    24;
    Camera[4]           = 5;    23;    24;

[UsecaseMatching]
    DisablePreviewNode = 0x800b; 0x80a7
    DisablePreviewNodeSensorMask = 0xffff; 0x02
    isSatNightUseMipiRaw = 0
    dolHdrSupporttedSensor = imx766
    isUsageMatching = 1
    OpmodeFilters = 0x802C

[SuperNightMode_Hand]
    #SuperNightMode_Hand need ideal raw
    idealRawEnable = TRUE
    frontidealRawEnable = FALSE
    DisableResetCropInfoForCameraId = 3

[EISTypeMatching]
    #VideoEisMode    captureMode  sensor_mask    feature_mask
    Mode[0]      =     0x800B;      0x008D;          0x0000          #COMMON VIDEO + SAT
    Mode[1]      =     0x800C;      0x008D;          0x0000          #FAST VIDEO
    Mode[2]      =     0x8021;      0xFFFF;          0x0080          #60FPS VIDEO
    Mode[3]      =     0x802B;      0xFFFF;          0x0000          #FRONT EIS VIDEO
    Mode[4]      =     0x80A1;      0xFFFF;          0x0000          #HDR VIDEO
    Mode[5]      =     0x80A2;      0xFFFF;          0x0000          #NIHGT VIDEO
    Mode[6]      =     0x80A4;      0xFFFF;          0x0000          #MOVIE EIS
    Mode[7]      =     0x80A7;      0x0001;          0x0000          #EnhanceVideo REAR EIS

[OemEISMatching]
    #VideoEisMode    captureMode  sensor_mask
    Mode[0]      =     0x802B;      0xFFFF       #FRONT EIS VIDEO
    Mode[1]      =     0x80A7;      0x0002       #EnhanceVideo FRONT EIS

[OemPDAFCalib]
    isOemPDAFCalib = TRUE

[Feature2GraphCameraIdMap]
    SingleCameraList = 0; 1; 2; 3; 4
    MultiCameraList  = 5; 6; 7
    BokehCameraList  = 5; 6
    FusionCameraList = 7

[QuickSnapshotMatching]
    #logicalCameraId           FRONT
    QuickSnapshotCameraIdList = 0; 1;

[OIS]
    #The value of OisType should refer to the definition at camxoismanager.h
    OisType = 3
    enableOISOptimization = 1

[OemNCSServeronCondition]
    #This condition is for server on
    sensorname = imx686
    OpenOis4KStream = TRUE
    opertionMode = 0x800E;0x8010;0x8011;0x8012;0x8015;0x8016;0x8017;0x8018;0x801A;0x801B;0x801C;0x801D;0x801E;0x801F;0x8020;0x8021;0x8022;0x8024;0x8029;0x80A4;0x80A5;

[EISNode]
    isOisSupported   = 0
    isOemEis         = 1
    SHDRuseArcsoftEIS = 1
    isICASuperEis = 0

[EISSensorInfo]
    #SensorName     width     height    binningFactor    binningFactorForFaceRect   bNeedLDC   sensor1xOutputSizeW  sensor1xOutputSizeH
    imx766[0] =      -1;        -1;         1;                     2;                  0;               0;                  0;
    imx686[0] =      -1;        -1;         1;                     2;                  0;               0;                  0;
    imx616[0] =     1640;      922;         2;                     2;                  0;               0;                  0;
    imx616[1] =     3280;     1856;         1;                     2;                  0;               0;                  0;
    imx615[0] =     1640;      922;         2;                     2;                  0;               0;                  0;
    imx615[1] =     3280;     1856;         1;                     2;                  0;               0;                  0;
     hi836[0] =      -1;        -1;         1;                     2;                  1;               0;                  0;
     ov64b[0] =      -1;        -1;         1;                     2;                  0;               0;                  0;

[EISParamBySensorName]
    #SensorName  w    h     fFocalLengthOrFOV fFrameReadout iBlur   fSyncParam[0 1 2 3 4 5 6 7]                               fSensorPose[0 1 2]
    imx686[0] =  -1;  -1;   66.884;           0.019816;     0;      0.000523; 0.5; -0.01215; 0.01215; 0.0;    0.0;  0.0; 0.0;  0.0;     0.0;    -0.25;
    imx766[0] =  -1;  -1;   66.884;           0.0307;       0;      0.0022;  -0.5; -0.04223; -0.04606; -86.5; -94.3; 0.0; 0.0; -0.35355; 0.35355; 0.0;
    imx481[0] =  -1;  -1;   98.815;           0.01914;      0;     -0.00177;  0.5;  0.0;     0.0;     0.0;    0.0;  0.0; 0.0;  0.0;     0.0;     0.0;
    s5k3m5[0] =  -1;  -1;   35.346;           0.02448;      0;      0.00208;  0.5;  0.0;     0.0;     0.0;    0.0;  0.0; 0.0;  0.0;     0.0;     0.0;
    imx616[0] = 1640; 922;  80.6;             0.0310;       0;      -0.001;  -0.5;  0.0;     0.0;     0.0;    0.0;  0.0; 0.0;  0.0;     0.0;    -0.25;
    imx616[1] = 3280;1856;  80.6;             0.0310;       0;      -0.001;  -0.5;  0.0;     0.0;     0.0;    0.0;  0.0; 0.0;  0.0;     0.0;    -0.25;
    imx615[0] = 1640; 922;  80.6;             0.0310;       0;      -0.001;  -0.5;  0.0;     0.0;     0.0;    0.0;  0.0; 0.0;  0.0;     0.0;    -0.25;
    imx615[1] = 3280;1856;  80.6;             0.0310;       0;      -0.001;  -0.5;  0.0;     0.0;     0.0;    0.0;  0.0; 0.0;  0.0;     0.0;    -0.25;

[SATNode]
    #CameraZoomInfo             UW+w     W      W+t     w+T      T
    SpecialZoomValueList  = 0.6;    1.0;    1.5;    2.0;    2.5;   20.0
    CameraActiveMapList   =      1;      2;      6;      6;      4
    MasterCameraIndexList =      0;      1;      1;      2;      2
    #CameraCalibBin
    CalibBin = 1; 2; 1
    isArcSat = 1

[SensorAggregationsForSATPhotoMode]
    numSensorAggregations   = 9
    zoomRange               =  0.6; 1.0;    0.6; 1.0;    1.0; 2.0;    1.0; 2.0;    1.0; 2.0;    1.4; 2.0;    2.0; 10.1;    2.0; 10.1;    2.0; 10.1
    activeMap               =      1;           3;           2;           3;           3;           6;           4;            6;            6
    allowAFFallback         =    FALSE;       FALSE;       FALSE;       FALSE;       FALSE;       FALSE;       TRUE;         TRUE;         TRUE
    allowTOFFallback        =    FALSE;       FALSE;       FALSE;       FALSE;       FALSE;       FALSE;       FALSE;        FALSE;        FALSE
    allowLuxFallback        =    FALSE;       FALSE;       FALSE;       FALSE;       FALSE;       FALSE;       TRUE;         TRUE;         TRUE
    fallbacked              =    FALSE;       FALSE;       FALSE;       FALSE;       TRUE;        FALSE;       FALSE;        FALSE;        TRUE
    master                  =      0;           0;           1;           1;           0;           1;           2;            2;            1
    recommendedMaster       =      0;           0;           1;           0;           0;           1;           2;            1;            1
    recommendedActiveState  =      1;           3;           3;           3;           3;           3;           6;            6;            6
[sensorAggregationsForSATNightMode]
    numSensorAggregations   = 3
    zoomRange               =  2.0; 10.1;   2.0; 10.1;   2.0; 10.1
    activeMap               =      4;           6;           6
    allowAFFallback         =    TRUE;        TRUE;        TRUE
    allowTOFFallback        =    FALSE;       FALSE;       FALSE
    allowLuxFallback        =    TRUE;        TRUE;        TRUE
    fallbacked              =    FALSE;       FALSE;       TRUE
    master                  =      2;           2;           1
    recommendedMaster       =      2;           1;           1
    recommendedActiveState  =      6;           6;           6
[sensorAggregationsForSATVideoMode]
    numSensorAggregations   = 1
    zoomRange               =   2.0; 10.1
    activeMap               =      4
    allowAFFallback         =    FALSE
    allowTOFFallback        =    FALSE
    allowLuxFallback        =    FALSE
    fallbacked              =    FALSE
    master                  =      2
    recommendedMaster       =      2
    recommendedActiveState  =      6

[AFCapbility]
   AIAFTrackingEnable = 1
   disableAFRoleSwitch = 1;
   forceMasterCameraId = 0;
   QPDSensorCameraId = 0;

[fallbackDetectThreshs]
    #luxFallback                FallbackTriggerUpperThreshHold   FallbackTriggerLowerThreshHold   lowLightUpperThresh   lowLightLowerThresh
    luxThreshsForSATMode       =             380;                              370;                        500;                    480
    luxThreshsForSATNightMode  =             400;                              380;                        500;                    480
    luxThreshsForSATVideoMode  =             400;                              380;                        500;                    480
    luxThreshsForSATTripodMode =             460;                              430;                        500;                    480
    #afFallback                    DetectFactor   RecoverFactor   MoveSceneWideDetectFactor   MoveSceneWideRecoverFactor   MoveSceneTeleDetectFactor   MoveSceneTelekRecoverFactor
    afThreshsForSATMode        =       1.0;           1.1;                  1.0;                       1.5;                         0.5;                        2.0
    afThreshsForSATNightMode   =       1.0;           1.1;                  1.0;                       1.5;                         0.5;                        2.0
    afThreshsForSATVideoMode   =       1.0;           1.1;                  1.0;                       1.5;                         0.5;                        2.0

[OemCamxSettings]
    #Enable/Disable PD Library LCR
    disablePDLibLCR = 0
    enableTOFInterface = 0
    multiCameraJPEG = 0
    numPCRsBeforeStreamOn = 1
    maxHalRequests = 7
    numChiThread = 10
    FDPreprocessing = 2

#[ActivityNameOfSpecialCase]
#    IsSupportECS = com.tencent.mm.plugin.voip.ui.VideoActivity; com.tencent.av.ui.AVActivity

[BokehConfigureInformation]
    RearBokehImgSizeList[imx481 x imx686]           = 4624; 3472; 1536; 1152
    RearSecondBokehImgSizeList[imx686 x s5k3m5]     = 4624; 3472; 4000; 3000
    RearBokehImgSizeList[imx481 x imx766]           = 4096; 3072; 1536; 1152
    RearSecondBokehImgSizeList[imx766 x s5k3m5]     = 4096; 3072; 4000; 3000
    RWMCaliSize = 4096
    RWTCaliSize = 2578
    RWMDualCaliPath   = /mnt/vendor/persist/camera/mwStereoParams.bin
    RWTDualCaliPath   = /mnt/vendor/persist/camera/mtStereoParams.bin
    RWMDualCaliPathAS = /mnt/vendor/persist/camera/mwStereoParams_aftersale.bin
    RWTDualCaliPathAS = /mnt/vendor/persist/camera/mtStereoParams_aftersale.bin

[OemCamSensorSettingMap]
    #operation mode     operation_mode     sensor_mask        feature_mask      index
    Mode[0]         =     0x8001;            0x0008;            0x0000;           6   #COMMON TELE
    Mode[1]         =     0x8001;            0x0001;            0x0004;           1   #COMMON SAT MAIN
    Mode[2]         =     0x8009;            0x0008;            0x0000;           0   #Professional TELE
    Mode[3]         =     0x800B;            0xFFFF;            0x0000;           3   #COMMON VIDEO
    Mode[4]         =     0x800B;            0x0004;            0x0000;           10  #COMMON VIDEO WIDE
    Mode[5]         =     0x800C;            0xFFFF;            0x0000;           3   #FAST VIDEO
    Mode[6]         =     0x800C;            0x0004;            0x0000;           10  #FAST VIDEO WIDE
    Mode[7]         =     0x800E;            0x0002;            0x0000;           1   #Stiker FRONT
    Mode[8]         =     0x8010;            0xFFFF;            0x0000;           5   #PORTAIT 1X
    Mode[9]         =     0x8011;            0xFFFF;            0x0000;           5   #PORTAIT 2X
    Mode[10]        =     0x8019;            0x0001;            0x0000;           1   #SAT SN REAR
    Mode[11]        =     0x8019;            0x0004;            0x0000;           0   #SAT SN REAR_AUX
    Mode[12]        =     0x8019;            0x0008;            0x0000;           6   #SAT SN TELE
    Mode[13]        =     0x8019;            0x0002;            0x0000;           1   #SN FRONT
    Mode[14]        =     0x8021;            0xFFFF;            0x0000;           4   #60FPS VIDEO
    Mode[15]        =     0x8021;            0xFFFF;            0x0001;           12  #60FPS VIDEO
    Mode[16]        =     0x8028;            0xFFFF;            0x0000;           4   #SUPER EIS
    Mode[17]        =     0x80A3;            0xFFFF;            0x0000;           3   #MOVIE VIDEO
    Mode[18]        =     0x80A3;            0x0004;            0x0000;           0   #MOVIE VIDEO WIDE
    Mode[19]        =     0x80A4;            0xFFFF;            0x0000;           3   #MOVIE VIDEO EIS
    Mode[20]        =     0x80A4;            0x0004;            0x0000;           0   #MOVIE VIDEO EIS WIDE
    Mode[21]        =     0x80A7;            0x0001;            0x0000;           11  #Enhance Video MAIN
    Mode[22]        =     0x80A7;            0x0002;            0x0000;           3   #Enhance Video FRONT
    Mode[23]        =     0x8028;            0x0004;            0x0000;           10  #SUPER EIS pro
    Mode[24]        =     0x802C;            0x0001;            0x0000;           3   #Dual Scene MAIN
    Mode[25]        =     0x80A5;            0x0001;            0x0000;           3   #FAST Motion VIDEO
    Mode[26]        =     0x80A5;            0x0004;            0x0000;           10  #FAST Motion VIDEO WIDE
    Mode[27]        =     0x802B;            0x0002;            0x0000;           11  #FRONT VIDEO EIS
    Mode[28]        =     0x80A2;            0x0001;            0x0000;           3   #night Video MAIN
    Mode[29]        =     0x8009;            0x0004;            0x0000;           0   #Professional WIDE

[ThirdAppCamSensorSettingMap]
    #                                   camera id  FPS    width    height  operation mode  setting index
    android.camera.cts[0]              =   -1;     -1;    -1;      -1;         -1;            1
    com.android.cts.verifier[0]        =   -1;     -1;    -1;      -1;         -1;            1
    com.ss.android.ugc.aweme[0]        =    0;     30;    -1;      -1;         -1;            3
    com.ss.android.ugc.aweme[1]        =    1;     15;    -1;      -1;         -1;            4
    com.ss.android.ugc.aweme[2]        =    1;     30;    -1;      -1;         -1;            3
    com.tencent.mm[0]                  =    1;     15;  1280;     720;         -1;           12
    com.tencent.mm[1]                  =    1;     15;    -1;      -1;         -1;            1
    com.tencent.mobileqq[0]            =    1;     15;    -1;      -1;         -1;            4
    com.tencent.mobileqq[1]            =    0;     -1;  2592;    1168;         -1;            3
    com.tencent.mobileqq[2]            =    0;     -1;    -1;      -1;         -1;            1
    com.smile.gifmaker[0]              =    1;     15;    -1;      -1;         -1;            4
    com.tencent.wemeet.app[0]          =    1;     -1;    -1;      -1;         -1;            4
    org.codeaurora.ims[0]              =    1;     -1;    -1;      -1;         -1;            4
    com.linkedin.android[0]            =    0;     -1;    -1;      -1;         -1;            1
    com.xvideostudio.videoeditor[0]    =    0;     -1;    -1;      -1;         -1;            1
    com.alibaba.android.rimet[0]       =    1;     20;    -1;      -1;         -1;            4
    com.alibaba.android.rimet[1]       =    1;     15;    -1;      -1;         -1;            4
    com.whatsapp[0]                    =    1;     -1;   640;     480;         -1;            4
    com.kuaishou.nebula[0]             =    1;     15;    -1;      -1;         -1;            4
    com.ss.android.ugc.aweme.lite[0]   =    1;     15;    -1;      -1;         -1;            4
    com.ss.android.ugc.aweme.lite[1]   =    0;     30;    -1;      -1;         -1;            3
    com.google.ar.infrastructure.compliance.imagequality[0] =  0;  -1;  -1;  -1;  -1;         1

[ThirdAppCamSettingTempMap]
    #                                   camera id  width    height    setting index   temperature range(min,max)
    com.tencent.mm[0]              =       1;       1280;      720;          4;             38;           200
    com.tencent.mobileqq[0]        =       1;       1280;      720;          4;             38;           200
    com.ss.android.ugc.aweme[0]    =       1;       1280;      720;          4;             38;           200
    com.smile.gifmaker[0]          =       1;       1280;      720;          4;             38;           200
    com.kuaishou.nebula[0]         =       1;       1280;      720;          4;             38;           200

[EngCamSensorSettingMap]
    #                  operation_mode   sensor_mask   feature_mask   index
    Mode[0]        =      0x0;            0xFFFD;        0x0000;       1;
    Mode[1]        =      0x0;            0x0004;        0x0000;       0;
    Mode[2]        =      0x0;            0xFFFF;        0x0010;       6;
    Mode[3]        =      0x0;            0x0008;        0x0000;       6;
    Mode[4]        =      0x9005;         0x0001;        0x0000;       4;

[PerfSceneMatching]
    #operation mode     operation_mode     sensor_mask        feature_mask         value
    Mode[0]         =     0x8028;            0xFFFF;           0x0000;              42         #commonVideo Mode
    Mode[1]         =     0x80A5;            0xFFFF;           0x0000;              42         #FastVideo Mode
    Mode[2]         =     0x80A4;            0xFFFF;           0x0000;              42         #Movie video Mode
    Mode[3]         =     0x80A3;            0xFFFF;           0x0000;              42         #Movie video Mode
    Mode[4]         =     0x800E;            0x0001;           0x0000;              52         #Stiker video Mode
    Mode[5]         =     0x80A7;            0x0001;           0x0000;              40         #Stiker video Mode
    Mode[6]         =     0x8001;            0xFFFF;           0x0000;              37         #Common Mode
    Mode[7]         =     0x800B;            0xFFFF;           0x0000;              40         #Video Mode
    Mode[8]         =     0x800B;            0x0002;           0x0000;              40         #Front Video Mode
    Mode[9]         =     0x802B;            0xFFFF;           0x0000;              37         #Front Eis Mode
    Mode[10]        =     0x8019;            0xFFFF;           0x0000;              37         #Supernight Mode
    Mode[11]        =     0x8021;            0xFFFF;           0x0000;              40         #60FPS Video Mode
    Mode[12]        =     0x8026;            0x0002;           0x0000;              37         #Front Portrait

[ThirdAppPerfSceneMatching]
    #                                   camera id  FPS    width    height  operation mode   value
    com.tencent.mm[0]                  =    -1;     15;    -1;      -1;         -1;            53         #commonVideo Mode-PERF_ID_CAMERA_3RD_PARTY_LOW_POWER
    com.tencent.mm[1]                  =     0;     30;    -1;      -1;         -1;            56         #commonVideo Mode-PERF_ID_CAMERA_3RD_PARTY_MIDDLE_POWER
    com.tencent.mobileqq[0]            =     0;     30;    -1;      -1;         -1;            56         #commonVideo Mode-PERF_ID_CAMERA_3RD_PARTY_MIDDLE_POWER
    com.tencent.mobileqq[1]            =    -1;     15;    -1;      -1;         -1;            53         #commonVideo Mode-PERF_ID_CAMERA_3RD_PARTY_MIDDLE_POWER
    com.smile.gifmaker[0]              =    -1;     15;    -1;      -1;         -1;            53         #commonVideo Mode-PERF_ID_CAMERA_3RD_PARTY_LOW_POWER
    com.smile.gifmaker[1]              =    -1;     30;    -1;      -1;         -1;            58         #commonVideo Mode-PERF_ID_CAMERA_VIDEO_GIFMAKER_REAR
    com.whatsapp[0]                    =     1;     -1;   640;     480;         -1;            53         #commonVideo Mode-PERF_ID_CAMERA_3RD_PARTY_LOW_POWER
    com.kuaishou.nebula[0]             =     1;     15;    -1;      -1;         -1;            53         #commonVideo Mode-PERF_ID_CAMERA_3RD_PARTY_LOW_POWER
    com.ss.android.ugc.aweme.lite[0]   =     1;     15;    -1;      -1;         -1;            53         #commonVideo Mode-PERF_ID_CAMERA_3RD_PARTY_LOW_POWER

[OemSupportedCustomImageSizes]
    #                width height
    ImageSizes[0]  = 8000; 3632
    ImageSizes[1]  = 6560; 4928
    ImageSizes[2]  = 6560; 2976
    ImageSizes[3]  = 6560; 2960
    ImageSizes[4]  = 6560; 2938
    ImageSizes[5]  = 6560; 3696
    ImageSizes[6]  = 4928; 4928
    ImageSizes[7]  = 4624; 3468
    ImageSizes[8]  = 4208; 1920
    ImageSizes[9]  = 4608; 3456
    ImageSizes[10] = 4624; 2600
    ImageSizes[11] = 4608; 2592
    ImageSizes[12] = 4608; 2080
    ImageSizes[13] = 3468; 3468
    ImageSizes[14] = 3456; 3456
    ImageSizes[15] =  960; 1080 #dual scene mode
    ImageSizes[16] =  640; 720 #dual scene mode
    ImageSizes[17] =  640; 368 #dual scene mode
    ImageSizes[18] =  464; 464 #dual scene mode
    ImageSizes[19] =  432; 240 #dual scene mode
    ImageSizes[20] =  320; 320 #dual scene mode

[SupportedImageSizes]
#                    width  height
    ImageSizes[0]  =  9248; 6936
    ImageSizes[1]  =  8192; 6144
    ImageSizes[2]  =  7680; 4320
    ImageSizes[3]  =  4624; 3468
    ImageSizes[4]  =  4624; 2608
    ImageSizes[5]  =  4624; 2080
    ImageSizes[6]  =  4160; 3120
    ImageSizes[7]  =  4160; 1872
    ImageSizes[8]  =  4096; 3072
    ImageSizes[9]  =  4096; 2304
    ImageSizes[10] =  4096; 1840
    ImageSizes[11] =  4000; 3000
    ImageSizes[12] =  4000; 2256
    ImageSizes[13] =  4000; 1800
    ImageSizes[14] =  3840; 2160
    ImageSizes[15] =  3840; 1644
    ImageSizes[16] =  3468; 3468
    ImageSizes[17] =  3456; 2592
    ImageSizes[18] =  3264; 2448
    ImageSizes[19] =  3264; 1836
    ImageSizes[20] =  3200; 2400
    ImageSizes[21] =  3168; 1358
    ImageSizes[22] =  3120; 3120
    ImageSizes[23] =  3072; 3072
    ImageSizes[24] =  3000; 3000
    ImageSizes[25] =  2592; 1944
    ImageSizes[26] =  2448; 2448
    ImageSizes[27] =  2400; 1080
    ImageSizes[28] =  2400; 1028
    ImageSizes[29] =  2376; 1018
    ImageSizes[30] =  2328; 1746
    ImageSizes[31] =  2592; 1168
    ImageSizes[32] =  2304; 1728
    ImageSizes[33] =  2160; 1080
    ImageSizes[34] =  1944; 1944
    ImageSizes[35] =  1920; 1440
    ImageSizes[36] =  1920; 1080
    ImageSizes[37] =  1920; 864
    ImageSizes[38] =  1920; 860
    ImageSizes[39] =  1600; 1200
    ImageSizes[40] =  1600; 800
    ImageSizes[41] =  1600; 720
    ImageSizes[42] =  1584; 720
    ImageSizes[43] =  1440; 1080
    ImageSizes[44] =  1280; 960
    ImageSizes[45] =  1280; 768
    ImageSizes[46] =  1280; 720
    ImageSizes[47] =  1200; 1200
    ImageSizes[48] =  1200; 540
    ImageSizes[49] =  1188; 540
    ImageSizes[50] =  1080; 1080
    ImageSizes[51] =  1024; 768
    ImageSizes[52] =   960; 540
    ImageSizes[53] =  800;  400
    ImageSizes[54] =  792;  360
    ImageSizes[55] =  720;  540
    ImageSizes[56] =  720;  480
    ImageSizes[57] =  640;  640
    ImageSizes[58] =  640;  480
    ImageSizes[59] =  352;  288
    ImageSizes[60] =  320;  240
    ImageSizes[61] =  176;  144

[ZoomRange]
    custom.video.zoom.range = 0.6; 20
    custom.video.60fps.zoom.range = 0.6; 10

[EngineercameraConfig]
    # The size of this list should equal to m_numLogicalCameras
    engineercamera.jpeg.size.QCFA = 1; 1; 1; 1; 1; 1; 1; 1;
    custom.raw.size.QCFA          = 1; 1; 0; 1; 0; 1; 1; 1;

[IPENode]
    # The width and heigth from IPE node RefCropWindow
    #                         left  top width  height
    CropWindowForSuperPhoto =   0;   0;  8192;  6144
    # DisableResetCropInfoForNightMode: TRIPOD(1), HAND(2 3 4), DARKSIGHT(5), FRONTNIGHT(6)
    DisableResetCropInfoForNightMode = 2; 3; 4; 5; 6

[IFENode]
    MNDS21ScaleRatioLimit = 105; 105; 105; 105; 105

[OrmsConfig]
    # ThirdApp Orms Enable config
    UseOrmsForThirdApp = true
    UseOrmsSenceForThirdApp = true

[CamActuatorDacRemapping]
    #actuator name      #source range    #target range
    imx686_ak7377 =         4096;           1024
    imx766_ak7377 =         4096;           1024
    s5k3m5_bu64253=         1024;           1024

[OemFDAttrEnableMap]
    #                  operation_mode   sensor_mask
    Mode[0]        =      0x8001;            0x0002;
    Mode[1]        =      0x800E;            0x0002;
    Mode[2]        =      0x800B;            0x0002;
    Mode[3]        =      0x8019;            0x0002;
    Mode[4]        =      0x80A7;            0x0002;
    Mode[5]        =      0x802B;            0x0002;
    Mode[6]        =      0x8002;            0x0002;
    Mode[7]        =      0x8026;            0x0002;
    Mode[8]        =      0x8011;            0x0002;

[ActuatorConfig]
    ParkLensDelayTime = 1000

[ArcsoftDCHalMatching]
    #                  operation_mode     sensor_mask
    Mode[0]         =     0x80A3;            0x0004         #Movie VIDEO REAR_AUX

[AIAFTouch2track]
    #                  operation_mode     sensor_mask
    Mode[0]         =     0x800B;            0x0001         #COMMON VIDEO REAR
    Mode[1]         =     0x8021;            0x0001         #60FPS VIDEO REAR
    Mode[2]         =     0x80A7;            0x0001         #EnhanceVideo VIDEO REAR
    Mode[3]         =     0x8028;            0x0001         #SUPER EIS REAR

[mSensorName]
    isSendNeeded   = 1

[Video4K60FPSNodeConfig]
    supportOplusView = TRUE

[NeedDeferCreateFeatureGraphManager]
    #operation mode     operation_mode     sensor_mask
    Mode[0]         =     0x8001;            0x0060       #COMMON SAT REAR
    Mode[1]         =     0x8019;            0x0060       #SUPERNIGHT SAT REAR

[OemFDSelect]
    Is3rdApkUsePlatformFD = true

[IPESizeSwitch]
    isNeedEnable = 1;

[IPESize]
    #                  sensor_mask  input_height   IPEwidth   IPEheight
    Mode[0]         =    0x0001;      480;          1440;      1080  #Main 480P
    Mode[1]         =    0x0001;      720;          1440;      1080  #Main 720P
    Mode[2]         =    0x0002;      480;          1640;      1232  #Front 480P
    Mode[3]         =    0x0002;      720;          1440;      1080  #Front 720P

[WechatIPESize]
    #                  sensor_mask  input_height   IPEwidth   IPEheight
    Mode[0]         =    0x0001;      480;          1440;      1080  #wechat Main 480P
    Mode[1]         =    0x0001;      720;          1440;      1080  #wechat Main 720P
    Mode[2]         =    0x0001;      1080;         2600;      1462  #wechat Main 1080P
    Mode[3]         =    0x0002;      480;          1640;      1232  #wechat Front 480P
    Mode[4]         =    0x0002;      720;          1440;      1080  #wechat Front 720P
    Mode[5]         =    0x0002;      1080;         1920;      1080  #wechat Front 1080P

[OemMfnrConfig]
    EnablePublishMfnrInfo = true
    EnableCouplehdrAnchorSelect = true

[MinAdditionalNeededRequests]
    #                  operation_mode   MinAdditionalNeededRequests
    Mode[0]        =      0x8021;                   5              #60FPS VIDEO
    Mode[1]        =      0x8028;                   5              #SUPEREIS VIDEO
    Mode[2]        =      0x800B;                   5              #30FPS VIDEO
    Mode[3]        =      0x80A7;                   5              #Enhance VIDEO

[OemFpsRangeSettingMap]
    #                     fps_head     fps_tail
    OemFpsRange[0] =         7 ;          30 ;
    OemFpsRange[1] =        15 ;          15;
    OemFpsRange[2] =        15 ;          20;
    OemFpsRange[3] =        20 ;          20;
    OemFpsRange[4] =        30 ;          30;

[earlyPCRConfig]
    opertionMode = 0x8011

[SmartPoolMode]
    OpenDoSmartPool = true

[SmartPoolForceMatching]
    ForceEnableAll = true

[ProfessionalMode]
    MaxSensorExposureTimeInProMode[0] = 0x773616140 #Sensor0 Max Exposure Time 32S

[DNGTag]
    UseUnityCalibrationMatrix = TRUE

[NeonTunningParments]
    #                    luxidx_trigger  BokehStrength  saturation   SpotSize   lightFactor  drcGain_Trigger  drcGainRatio  smoothAmount
    rear_outdoor   =         150;           75;           40;         80;        100;               10;            100;        800;
    rear_night     =         300;           80;           70;         80;        100;               20;            100;        300;
    front_outdoor  =         140;           70;           60;         80;        107;               10;            95;         800;
    front_night    =         310;           75;           60;         80;        127;               17;            100;        300;

[SensorPowerUpInAdvance]
    #LogicalCameraID      phyCamId
    LogicalCameraId[7]   = 0;
    LogicalCameraId[5]   = 0;

[CamThreadOptConfig]
    SupportModeList = 0x8001; 0x800B; 0x8021; 0x8011; 0x800D; 0x1

[PinFiles]
    so[0]=/vendor/lib64/libOpenCL.so;
    so[1]=/vendor/lib64/libgsl.so;
    so[2]=/vendor/lib64/libCB.so;
    so[3]=/vendor/lib64/libipebpsstriping.so;
    so[4]=/vendor/lib64/com.qti.feature2.gs.so;
    so[5]=/vendor/lib64/com.qti.feature2.anchorsync.so;
    so[6]=/vendor/lib64/com.qti.feature2.demux.so;
    so[7]=/vendor/lib64/com.qti.feature2.frameselect.so;
    so[8]=/vendor/lib64/com.qti.feature2.fusion.so;
    so[9]=/vendor/lib64/com.qti.feature2.generic.so ;
    so[10]=/vendor/lib64/com.qti.feature2.hdr.so;
    so[11]=/vendor/lib64/com.qti.feature2.memcpy.so;
    so[12]=/vendor/lib64/com.qti.feature2.mfsr.so;
    so[13]=/vendor/lib64/com.qti.feature2.qcfa.so;
    so[14]=/vendor/lib64/com.qti.feature2.rawhdr.so;
    so[15]=/vendor/lib64/com.qti.feature2.rt.so;
    so[16]=/vendor/lib64/com.qti.feature2.serializer.so;
    so[17]=/vendor/lib64/com.qti.feature2.stub.so;
    so[18]=/vendor/lib64/com.qti.feature2.swmf.so;
    so[19]=/odm/lib64/libarc_sateis.so;
    so[20]=/vendor/lib64/camera/components/com.qti.stats.pdlib.so ;
    so[21]=/vendor/lib64/camera/components/com.qti.stats.hafoverrdide.so;
    so[22]=/vendor/lib64/libcamxtintlessalgo.so;
    so[23]=/vendor/lib64/libcamxswprocessalgo.so;
    so[24]=/vendor/lib64/libthermalclient.so;
    so[25]=/vendor/lib64/libcamxexternalformatutils.so;
