#Configuration info
[Project Info]
    Project = 19066

[OemCommonCapbility]
    ForceSensorFps = 0
    SupportQuarterBinning  = 1
    MaxSensitivityBoost = 6399

###LogicalCameraConfiguration begin
[LogicalCameraConfiguration]
    NumOfLogicalCamera = 7
    LogicalCamera[0] = SingleWideCameraConfiguration
    LogicalCamera[1] = SingleFrontCameraConfiguration
    LogicalCamera[2] = SingleUltraWideCameraConfiguration
    LogicalCamera[3] = SingleTeleCameraConfiguration
    LogicalCamera[4] = RTBUWWCameraConfiguration
    LogicalCamera[5] = RTBWTCameraConfiguration
    LogicalCamera[6] = SATCameraConfiguration

[SingleWideCameraConfiguration]
    logicalCameraId    = 0
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleWideCameraDeviceInfo
    primarySensorID    = 0
    cameraType         = 0

[SingleWideCameraDeviceInfo]
    sensorId               = 0
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[SingleFrontCameraConfiguration]
    logicalCameraId    = 1
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleFrontCameraDeviceInfo
    primarySensorID    = 2
    cameraType         = 1

[SingleFrontCameraDeviceInfo]
    sensorId               = 2
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[SingleUltraWideCameraConfiguration]
    logicalCameraId    = 2
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleUltraWideCameraDeviceInfo
    primarySensorID    = 1
    cameraType         = 2

[SingleUltraWideCameraDeviceInfo]
    sensorId               = 1
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[SingleTeleCameraConfiguration]
    logicalCameraId    = 3
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleTeleCameraDeviceInfo
    primarySensorID    = 3
    cameraType         = 6

[SingleTeleCameraDeviceInfo]
    sensorId               = 3
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[RTBUWWCameraConfiguration]
    logicalCameraId    = 4
    logicalCameraType  = 1
    publicVisibility   = true
    numOfDevices       = 2
    deviceInfo[0]      = RTBUWCameraDeviceInfo
    deviceInfo[1]      = RTBWCameraDeviceInfo
    primarySensorID    = 0
    cameraType         = 8

[RTBUWCameraDeviceInfo]
    sensorId               = 1
    transitionZoomRatioMin = 1.0
    transitionZoomRatioMax = 2.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[RTBWCameraDeviceInfo]
    sensorId               = 0
    transitionZoomRatioMin = 2.0
    transitionZoomRatioMax = 8.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[RTBWTCameraConfiguration]
    logicalCameraId    = 5
    logicalCameraType  = 1
    publicVisibility   = true
    numOfDevices       = 2
    deviceInfo[0]      = RTBWCameraDeviceInfo
    deviceInfo[1]      = RTBTCameraDeviceInfo
    primarySensorID    = 3
    cameraType         = 11

[RTBTCameraDeviceInfo]
    sensorId               = 3
    transitionZoomRatioMin = 3.0
    transitionZoomRatioMax = 8.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[SATCameraConfiguration]
    logicalCameraId    = 6
    logicalCameraType  = 2
    publicVisibility   = true
    numOfDevices       = 3
    deviceInfo[0]      = SATUWCameraDeviceInfo
    deviceInfo[1]      = SATWCameraDeviceInfo
    deviceInfo[2]      = SATTCameraDeviceInfo
    primarySensorID    = 0
    cameraType         = 12

[SATUWCameraDeviceInfo]
    sensorId               = 1
    transitionZoomRatioMin = 0.6
    transitionZoomRatioMax = 1.0
    enableSmoothTransition = true
    alwaysOn               = false
    realtimeEngine         = 0

[SATWCameraDeviceInfo]
    sensorId               = 0
    transitionZoomRatioMin = 1.0
    transitionZoomRatioMax = 5.0
    enableSmoothTransition = true
    alwaysOn               = false
    realtimeEngine         = 0

[SATTCameraDeviceInfo]
    sensorId               = 3
    transitionZoomRatioMin = 5.0
    transitionZoomRatioMax = 60.0
    enableSmoothTransition = true
    alwaysOn               = false
    realtimeEngine         = 0

###LogicalCameraConfiguration end

[MultiCameraUsecase]
                 #stream index map  w  uw
    LogicalCameraAPPStreamMap[4]  = 1; 0
                 #stream index map  t  w
    LogicalCameraAPPStreamMap[5]  = 1; 0
    LogicalCameraRAWStreamSwap[5] = true
                 #stream index map  w  uw  t
    LogicalCameraAPPStreamMap[6]  = 1; 0;  2

[MultiCameraMFNRFusionSuperGraph]
    #ChiFeature2Type       HDR  DEMUX  SERIALIZER
    FeatureInstanceIgnore = 5;    23;    24

[NeedDeferCreateFeatureGraphManager]
    #operation mode     operation_mode     sensor_mask
    Mode[0]         =     0x8001;            0x0040       #COMMON SAT REAR
    Mode[1]         =     0x8019;            0x0040       #SUPERNIGHT SAT REAR

[UsecaseMatching]
    #logicalCameraId          W UW TELE
    StabilizationCameraList = 0; 2; 3
    DisablePreviewNode = 0x800b; 0x8028

[Feature2GraphCameraIdMap]
    SingleCameraList = 0; 1; 2; 3
    MultiCameraList  = 4; 5; 6
    BokehCameraList  = 4; 5
    FusionCameraList = 6

[QuickSnapshotMatching]
    #logicalCameraId           FRONT
    QuickSnapshotCameraIdList = 1

[FDmanager]
    sensorzoomcrop = 2.0

[OIS]
    #The value of OisType should refer to the definition at camxoismanager.h
    OisType = 2

[Video4K60FPSConfig]
    #The value of ImageStableType: 0: EIS   1:OIS   other:
    ImageStableType = 0

[SATNode]
    #CameraZoomInfo             UW+w     W      W+t     w+T      T
    SpecialZoomValueList  = 0.6;    1.0;    2.8;    5.0;    5.5;   60.0
    CameraActiveMapList   =      3;      2;      6;      6;      4
    MasterCameraIndexList =      0;      1;      1;      2;      2
    #CameraCalibBin
    CalibBin = 2; 2; 1

[AFCapbility]
   AIAFTrackingEnable = 1;

[OemCamxSettings]
    #Enable/Disable PD Library LCR
    disablePDLibLCR = 1

[MemGroupConfig]
    EnableIonRecycle = 0;    # IonRecycle 0:disable(def)  1:enable
    RecycleBuffSize  = 4;    # IonRecyclebuffer size(N * 10M)

[MultiCamFlashSetting]
    #disable flash for camera ID   UW   T
    disableFlashCamList          =  2 ; 3

[BokehConfigureInformation]
    RearBokehImgSizeList           = 4000; 3000; 2816; 2112
    RearSecondBokehImgSizeList     = 4000; 3000; 4000; 3000
    RWMCaliSize = 4096
    RWTCaliSize = 2578
    RWMDualCaliPath   = /mnt/vendor/persist/camera/mwStereoParams.bin
    RWTDualCaliPath   = /mnt/vendor/persist/camera/mtStereoParams.bin
    RWMDualCaliPathAS = /mnt/vendor/persist/camera/mwStereoParams_aftersale.bin
    RWTDualCaliPathAS = /mnt/vendor/persist/camera/mtStereoParams_aftersale.bin

[OemCamSensorSettingMap]
    #operation mode     operation_mode     sensor_mask        feature_mask         index
    Mode[0]      =        0x8001;            0xFFFF;            0x0004;           1  #COMMON SAT
    Mode[1]      =        0x8001;            0x0008;            0x0004;           6  #COMMON SAT TELE
    Mode[2]      =        0x8001;            0x0001;            0x0004;           10 #COMMON SAT ICE
    Mode[3]      =        0x8007;            0xFFFF;            0x0000;           1  #Panorama
    Mode[4]      =        0x8009;            0x0001;            0x0000;           15 #Professional REAR
    Mode[5]      =        0x800B;            0xFFFF;            0x0000;           1  #COMMON VIDEO
    Mode[6]      =        0x800B;            0x0008;            0x000C;           6  #COMMON VIDEO SAT EIS TELE
    Mode[7]      =        0x800B;            0x0008;            0x000D;           6  #COMMON VIDEO 4K SAT EIS TELE
    Mode[8]      =        0x800B;            0xFFFF;            0x000B;           11 #COMMON VIDEO 3HDR EIS
    Mode[9]      =        0x800C;            0xFFFF;            0x000C;           1  #FastVideo EIS SAT
    Mode[10]     =        0x800C;            0x0008;            0x000C;           6  #FastVideo EIS SAT TELE
    Mode[11]     =        0x800E;            0xFFFF;            0x0000;           1  #Stiker
    Mode[12]     =        0x8010;            0xFFFF;            0x0000;           12 #HALF PORTRAIT
    Mode[13]     =        0x8011;            0xFFFF;            0x0000;           5  #FULL PORTRAIT
    Mode[14]     =        0x8019;            0x0002;            0x0000;           1  #SN FRONT
    Mode[15]     =        0x8019;            0xFFFF;            0x0004;           1  #SN SAT
    Mode[16]     =        0x8019;            0x0008;            0x0004;           6  #SN SAT TELE
    Mode[17]     =        0x8021;            0xFFFF;            0x0000;           4  #60FPS VIDEO
    Mode[18]     =        0x8028;            0xFFFF;            0x0000;           2  #SUPER EIS
    Mode[19]     =        0x802B;            0xFFFF;            0x0000;           3  #FRONT EIS
    Mode[20]     =        0x80A2;            0xFFFF;            0x0000;           1  #NightVideo EIS
    Mode[21]     =        0x80A3;            0x0008;            0x0000;           6  #MOVIE VIDEO TELE REAR
    Mode[22]     =        0x80A3;            0x0005;            0x0000;           1  #MOVIE VIDEO REAR_AUX
    Mode[23]     =        0x80A4;            0x0008;            0x0000;           6  #MOVIE VIDEO EIS TELE REAR
    Mode[24]     =        0x80A4;            0x0005;            0x0000;           1  #MOVIE VIDEO EIS REAR_AUX
    Mode[25]     =        0x80A5;            0xFFFF;            0x0000;           2  #FastMotionVideo EIS
    Mode[26]     =        0x8021;            0xFFFF;            0x0009;           17 #4k 60FPS VIDEO

[EngCamSensorSettingMap]
    #                  operation_mode   sensor_mask   feature_mask   index
    Mode[0]        =      0x0;            0xFFFF;        0x0000;       1;
    Mode[1]        =      0x0;            0xFFFF;        0x0010;       6;
    Mode[2]        =      0x0;            0x0008;        0x0000;       6;

[ZoomRange]
    custom.video.zoom.range = 0.6; 30
    custom.video.60fps.zoom.range = 0.6; 30

[EngineercameraConfig]
    # The size of this list should equal to m_numLogicalCameras
    engineercamera.jpeg.size.QCFA = 1; 0; 1; 1; 1; 1; 1;
    custom.raw.size.QCFA          = 1; 1; 1; 1; 1; 1; 1;

[OrmsConfig]
    # ThirdApp Orms Enable config
    UseOrmsForThirdApp = false
    UseOrmsSenceForThirdApp = true

[OemCamActuatorSettingMap]
    #operation mode     is_need_power      first_value        second_value      third_vaue  if is_need_power is 0 set other variables to 0
    Mode[0]      =     0;                 0;                 0;                0        #VCM lowerBound
    Mode[1]      =     1;                 1;                 0;                -1       #VCM upperBound
    Mode[2]      =     1;                 -1;                -1;               0        #BIVCM lowerBound
    Mode[3]      =     1;                 1;                 -1;               -1       #BIVCM upperBound

[OemPDAFCalib]
    isOemPDAFCalib = TRUE

[FlashConfig]
    torchDynamicCurrentEn = 1;

[OemZoomRatioThreshold]
    #Zoom Ratio             4x      2x     1x
    zoomRatioThreshold =  100.0;  100.0;  100.0

[OemFDAttrEnableMap]
    #                  operation_mode   sensor_mask
    Mode[0]        =      0x8001;            0xFFFF;
    Mode[1]        =      0x800E;            0xFFFF;
    Mode[2]        =      0x800B;            0xFFFF;
    Mode[3]        =      0x8019;            0x0002;

[ActuatorConfig]
    ParkLensDelayTime = 1000

[MinAdditionalNeededRequests]
    #                  operation_mode   MinAdditionalNeededRequests
    Mode[0]        =      0x80A2;                   5              #NIHGT VIDEO
    Mode[1]        =      0x800B;                   5              #COMMON VIDEO
    Mode[2]        =      0x8028;                   5              #SUPER EIS

[ArcsoftDCHalMatching]
    #                  operation_mode     sensor_mask  special_rect
    Mode[0]         =     0x80A3;            0x0004;        1     #Movie VIDEO REAR_AUX

[PinFiles]
    so[0]=mnt/vendor/persist/camera/rear_camera_1_dual_led_calibration.bin;
    so[1]=odm/etc/camera/M_Attribute_AG_BMW_1.1.0.model.hardcode;
    so[2]=odm/lib64/libcvface_api.so;
    so[3]=vendor/lib64/camera/components/com.qti.node.swregistration.so;
    so[4]=vendor/lib64/camera/components/com.qti.stats.aec.so;
    so[5]=vendor/lib64/camera/components/com.qti.stats.afd.so;
    so[6]=vendor/lib64/camera/components/com.qti.stats.af.so;
    so[7]=vendor/lib64/camera/components/com.qti.stats.awb.so;
    so[8]=vendor/lib64/camera/components/com.qti.stats.hafoverride.so;
    so[9]=vendor/lib64/camera/components/com.qti.stats.haf.so;
    so[10]=vendor/lib64/camera/components/com.qti.stats.pdlib.so;
    so[11]=vendor/lib64/camera.device@3.2-impl.so;
    so[12]=vendor/lib64/camera.device@3.3-impl.so;
    so[13]=odm/lib64/camera/components/com.oplus.node.eispreview.so;
    so[14]=odm/lib64/camera/components/com.oplus.node.eisrecord.soo;
    so[15]=odm/lib64/camera/components/com.oplus.node.preview.so;
    so[16]=odm/lib64/camera/components/com.oplus.node.videoenhance.so;
    so[17]=vendor/lib64/camera/components/com.qti.hvx.addconstant.so;
    so[18]=vendor/lib64/camera/components/com.qti.hvx.binning.so;
    so[19]=vendor/lib64/camera/components/com.qti.node.customhwnode.so;
    so[20]=vendor/lib64/camera/components/com.qti.node.depth.so;
    so[21]=vendor/lib64/camera/components/com.qti.node.dummyrtb.so;
    so[22]=vendor/lib64/camera/components/com.qti.node.dummysat.so o;
    so[23]=vendor/lib64/camera/components/com.qti.node.eisv2.so;
    so[24]=vendor/lib64/camera/components/com.qti.node.eisv3.so;
    so[25]=vendor/lib64/camera/components/com.qti.node.fcv.so;
    so[26]=vendor/lib64/camera/components/com.qti.node.gpu.so;
    so[27]=vendor/lib64/camera/components/com.qti.node.memcpy.so;
    so[28]=odm/lib64/camera/components/com.qti.node.remosaic.so;
    so[29]=vendor/lib64/camera/components/com.qti.node.stich.so;
    so[30]=vendor/lib64/camera/components/com.qti.node.swec.so;
    so[31]=vendor/lib64/camera/components/com.qti.node.swfusion.so;
    so[32]=vendor/lib64/camera/components/com.qti.stats.aecwrapper.so;
    so[33]=vendor/lib64/camera/components/com.qti.stats.afwrapper.so;
    so[34]=vendor/lib64/camera/components/com.qti.stats.asd.so;
    so[35]=vendor/lib64/camera/components/com.qti.stats.awbwrapper.so;
    so[36]=vendor/lib64/camera/components/com.qti.stats.pdlibsony.so;
    so[37]=vendor/lib64/camera/components/com.qti.stats.pdlibwrapper.so;
    so[38]=vendor/lib64/libOpenCL.so;
    so[39]=odm/lib64/libVideoEnhance.so;
    so[40]=odm/lib64/libarc_eis_custom.so;
    so[41]=odm/lib64/libarc_eis.so
    so[42]=odm/lib64/libarcsoft_supervideostabilization.so
    so[43]=vendor/lib64/libcamxfacialfeatures.so
    so[44]=vendor/lib64/libcamxfdalgo.so
    so[45]=vendor/lib64/libcamxfdengine.so
    so[46]=vendor/lib64/libfastcvdsp_stub.so
    so[47]=vendor/lib64/libfastcvopt.so
    so[48]=odm/lib64/lib_rectify.so
    so[49]=vendor/lib64/libscveObjectTracker.so
    so[50]=vendor/lib64/libcamxexternalformatutils.so;
    so[51]=vendor/lib64/libcamxifestriping.so;
    so[52]=vendor/lib64/libcamxswprocessalgo.so;
    so[53]=vendor/lib64/libcamxtintlessalgo.so;
    so[54]=vendor/lib64/libcamerapostproc.so
    so[55]=vendor/lib64/libipebpsstriping.so;
    so[56]=vendor/lib64/egl/libGLESv2_adreno.so;
    so[57]=vendor/lib64/egl/libEGL_adreno.so
    so[58]=odm/lib64/camera/com.qti.sensor.imx586.so
    so[59]=odm/lib64/camera/com.qti.sensor.imx708.so
    so[60]=odm/lib64/camera/com.qti.sensor.imx616.so
    so[61]=odm/lib64/camera/com.qti.sensor.s5k3m5.so
    so[62]=odm/lib64/camera/com.qti.sensor.ov64b.so
    so[63]=vendor/lib64/com.qti.feature2.generic.so
    so[64]=vendor/lib64/com.qti.feature2.gs.so
    so[65]=vendor/lib64/libqti-perfd-client.so
    so[66]=vendor/lib64/libswregistrationalgo.so
